In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']

In [3]:
my_data=[10,20,30]

In [4]:
arr=np.array(my_data)

In [5]:
d={'a':10,'b':20,'c':30}

In [6]:
labels

['a', 'b', 'c']

In [7]:
my_data

[10, 20, 30]

In [8]:
arr

array([10, 20, 30])

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

In [10]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
seri1=pd.Series([1,2,3,4],['USA','INDIA','Japan','China'])

In [16]:
seri2=pd.Series([1,2,6,4],['USA','INDIA','Japan','SriLnka'])

In [17]:
seri1

USA      1
INDIA    2
Japan    3
China    4
dtype: int64

In [18]:
seri2

USA        1
INDIA      2
Japan      6
SriLnka    4
dtype: int64

In [20]:
seri1['USA']

np.int64(1)

In [21]:
seri1['INDIA']

np.int64(2)

In [22]:
seri1+seri2

China      NaN
INDIA      4.0
Japan      9.0
SriLnka    NaN
USA        2.0
dtype: float64

In [23]:
#dataFrame

In [24]:
from numpy.random import randn

In [25]:
np.random.seed(101)

In [28]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [30]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [31]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [33]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [34]:
df['new']=df['W']+df['X']

In [35]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119  1.996388
B -0.134841  0.390528  0.166905  0.184502  0.255687
C  0.807706  0.072960  0.638787  0.329646  0.880666
D -0.497104 -0.754070 -0.943406  0.484752 -1.251174
E -0.116773  1.901755  0.238127  1.996652  1.784981

In [36]:
df.drop('new')

KeyError: "['new'] not found in axis"

In [37]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [38]:
df.drop('new',axis=2
       )

ValueError: No axis named 2 for object type DataFrame

In [39]:
df.drop('Y',axis=1)

          W         X         Z       new
A  0.302665  1.693723 -1.159119  1.996388
B -0.134841  0.390528  0.184502  0.255687
C  0.807706  0.072960  0.329646  0.880666
D -0.497104 -0.754070  0.484752 -1.251174
E -0.116773  1.901755  1.996652  1.784981

In [40]:
df.drop('D',axis=0)

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119  1.996388
B -0.134841  0.390528  0.166905  0.184502  0.255687
C  0.807706  0.072960  0.638787  0.329646  0.880666
E -0.116773  1.901755  0.238127  1.996652  1.784981

In [41]:
df.loc['C']

W      0.807706
X      0.072960
Y      0.638787
Z      0.329646
new    0.880666
Name: C, dtype: float64

In [42]:
df>0

       W      X      Y      Z    new
A   True   True  False  False   True
B  False   True   True   True   True
C   True   True   True   True   True
D  False  False  False   True  False
E  False   True   True   True   True

In [43]:
df['W']>0

A     True
B    False
C     True
D    False
E    False
Name: W, dtype: bool

In [44]:
df[df['W']>0]

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119  1.996388
C  0.807706  0.072960  0.638787  0.329646  0.880666

In [45]:
df[df['W']>0]

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119  1.996388
C  0.807706  0.072960  0.638787  0.329646  0.880666

In [46]:
df[df['W']<0]

          W         X         Y         Z       new
B -0.134841  0.390528  0.166905  0.184502  0.255687
D -0.497104 -0.754070 -0.943406  0.484752 -1.251174
E -0.116773  1.901755  0.238127  1.996652  1.784981

In [47]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119  1.996388
B -0.134841  0.390528  0.166905  0.184502  0.255687
C  0.807706  0.072960  0.638787  0.329646  0.880666
D -0.497104 -0.754070 -0.943406  0.484752 -1.251174
E -0.116773  1.901755  0.238127  1.996652  1.784981

In [48]:
df.reset_index()

  index         W         X         Y         Z       new
0     A  0.302665  1.693723 -1.706086 -1.159119  1.996388
1     B -0.134841  0.390528  0.166905  0.184502  0.255687
2     C  0.807706  0.072960  0.638787  0.329646  0.880666
3     D -0.497104 -0.754070 -0.943406  0.484752 -1.251174
4     E -0.116773  1.901755  0.238127  1.996652  1.784981

In [49]:
#index level

In [51]:
outside=['G1','G1','G1','G2','G2','G2']
inside=['1','2','3','1','2','3']
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [52]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [53]:
inside

['1', '2', '3', '1', '2', '3']

In [54]:
hier_index

MultiIndex([('G1', '1'),
            ('G1', '2'),
            ('G1', '3'),
            ('G2', '1'),
            ('G2', '2'),
            ('G2', '3')],
           )

In [55]:
hier_index=list(zip(outside,inside))

In [56]:
list(zip(outside,inside))

[('G1', '1'), ('G1', '2'), ('G1', '3'), ('G2', '1'), ('G2', '2'), ('G2', '3')]

In [57]:
pd.MultiIndex.from_tuples(hier_index)

MultiIndex([('G1', '1'),
            ('G1', '2'),
            ('G1', '3'),
            ('G2', '1'),
            ('G2', '2'),
            ('G2', '3')],
           )

In [58]:
df=pd.DataFrame(randn(6,2))

In [59]:
df

          0         1
0 -0.993263  0.196800
1 -1.136645  0.000366
2  1.025984 -0.156598
3 -0.031579  0.649826
4  2.154846 -0.610259
5 -0.755325 -0.346419

In [60]:
df=pd.DataFrame(randn(6,2),hier_index)

In [61]:
df

                0         1
(G1, 1)  0.147027 -0.479448
(G1, 2)  0.558769  1.024810
(G1, 3) -0.925874  1.862864
(G2, 1) -1.133817  0.610478
(G2, 2)  0.386030  2.084019
(G2, 3) -0.376519  0.230336

In [62]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [63]:
df

                A         B
(G1, 1)  0.681209  1.035125
(G1, 2) -0.031160  1.939932
(G1, 3) -1.005187 -0.741790
(G2, 1)  0.187125 -0.732845
(G2, 2) -1.382920  1.482495
(G2, 3)  0.961458 -2.141212

In [64]:
df.index.names=['Groups,Num']

In [65]:
df

                   A         B
Groups,Num
(G1, 1)     0.681209  1.035125
(G1, 2)    -0.031160  1.939932
(G1, 3)    -1.005187 -0.741790
(G2, 1)     0.187125 -0.732845
(G2, 2)    -1.382920  1.482495
(G2, 3)     0.961458 -2.141212

In [66]:
d={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [67]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [68]:
dd=pd.DataFrame(d)

In [69]:
dd

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [70]:
data={'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
     'Person':['Ellen','Evan','Amresh','Renu','Gopi','Vivek'],
     'Sales':[200,100,300,124,45,500]}

In [71]:
df=pd.DataFrame(data)

In [72]:
df

  Company  Person  Sales
0    GOOG   Ellen    200
1    GOOG    Evan    100
2    MSFT  Amresh    300
3    MSFT    Renu    124
4      FB    Gopi     45
5      FB   Vivek    500

In [74]:
byCom=df.groupby('Company')

In [75]:
byCom

In [77]:
byCom.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
#merging,joiningand co